#card-element {
/*	background-color: #EDEDED; */
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
}

#payment-form input {
/*	background-color: #EDEDED; */
	border-radius: 0 !important;
/*	border-width: 0 !important; */
}

.table-noborder,
.table-noborder tr,
.table-noborder td {
	border:0px !important;
	background: none !important;
}

.btn-register {
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #5466F9;
}